
.body{
	font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background-image: url('tt.jpg');
    background-size: 100% 110%;
	width: 100%;
  	height: 100%;
	font-size: 16px;
}
.signup
{
    background:rgba(44, 62, 80, 0.7);
	padding:40px;
	width:250px;
	margin:auto;
	margin-top:80px;
	height:430px;
	margin-left:180px;
	margin:0 auto;
	margin-top:90px;
}
.signin{
    ackground:rgba(44, 62, 80, 0.7);
    padding:40px;
    width:250px;
    margin:auto;
    margin-top:80px;
    height:430px;
    margin-left:180px;
    margin:0 auto;
    margin-top:90px;
    
}
.menu{

    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}
.leftmenu{
    width: 20%;
    line-height: 100px;
    float: left;
/*  background-color: yellow;*/
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
.rightmenu{
    width:70%;
    height: 100px;
    float: right;
/*  background-color: red; */
}

.rightmenu ul{
    margin-left: 200px;
}

.rightmenu ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color:white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;

}

.rightmenu ul li:hover{
    color: orange;
}


.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form{
    width: 100%;
    max-width: 500px;
    height: auto;
    background: rgba(0,0,0,0.7);
    padding: 40px 50px;
    border-radius: 5px;
}

form{
    width: 240px;
    text-align: center;
}
input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover{
    color: #fff;
    background-color: black;
}

.input-fields {
    padding: 0 30px;
}

.input-fields .items{
    width: 100%;
    padding-bottom: 15px;
} 

.input-fields .items .label{
    display: block;
    font-size: 1em;
    color: #ffecb3;
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding-bottom: 5px;
}

.input-fields .items .input,
.input-fields .items .text-area{
    background: transparent;
    border: 0;
    border: 1px solid #ffecb3;
    width: 100%;
    padding: 8px 10px;
    font-size: 1em;
    color: #ffecb3;
    border-radius: 3px;
}

.btn{
    margin: 0 30px;
    background: #ffc107;
    color: #ffecb3;
    font-size: 1.25em;  
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}


.items #msg{
    height: 100px;
}


/* jquery code */
.input-fields .items .input.active .label{
    font-size: 15px;
    top: 0;
}

.title{
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ffc107;
    padding-bottom: 15px;
}
.text{
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color:white;
}

.text h4{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.text h1{
    font-size:62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    margin:14px 0px;
}

.text h3{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: yellow;
    text-decoration: blink;
}

a:hover{
    color: skyblue;
}

.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}

#msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#firstlist{
    color: orange;
}

@-webkit-keyframes fadein {
from {top: 0; opacity: 0;} 
to {top: 30px; opacity: 1;}
}

@keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {top: 30px; opacity: 1;} 
to {top: 0; opacity: 0;}
}

@keyframes fadeout {
from {top: 30px; opacity: 1;}
to {top: 0; opacity: 0;}
}

@media screen and (max-width: 750px){
    .input-fields {
        padding: 0;
    }
}
