{% extends 'base.html' %}
{% block active %}
<li class="nav-item"><a href="home" class="nav-link">Home</a></li>
<li class="nav-item active"><a href="About" class="nav-link">About</a></li>
<li class="nav-item"><a href="Team" class="nav-link">Team</a></li>
<li class="nav-item"><a href="Buy" class="nav-link">Buy Now</a></li>
<li class="nav-item"><a href="Download" class="nav-link">Download</a></li>
<li class="nav-item"><a href="Contact" class="nav-link">Contact</a></li>
{% endblock %}

{% with page_name='About Us'%}
{% block display %}
<section class="hero-wrap hero-wrap-2 bg-img-1">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <h1 class="mb-2 bread">{{ page_name }}</h1>
        </div>
    </div>
    </div>
</section>
{% endblock%}
{% comment %} {% with img=%} {% endcomment %}
{% comment %} {% endwith %} {% endcomment %}


{% block content%}
<section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter" style="width=100%">
      <div class="container consult-wrap">
        <div class="row d-flex align-items-stretch">
          <div class="col-md-6 wrap-about align-items-stretch d-flex">
            <div class="img bg-img-about">
            </div>
          </div>
          <div class="col-md-6 wrap-about ftco-animate py-md-5 pl-md-5 fadeInUp ftco-animated">
            <div class="heading-section mb-4">
              <span class="subheading">Welcome to Piracy Prevention Solution</span>
              <h2>The Smartest Thing To Do With Your Business</h2>
            </div>
            <p>The user chooses the product according to his requirement and budget. After which product key are generated which will further be mailed to the user’s email id. After that the user will download the software which will only be working if the user provides the exact same product key which will only work with that device.</p>
            <div class="tabulation-2 mt-4">
              <ul class="nav nav-pills nav-fill d-md-flex d-block">
                <li class="nav-item">
                  <a class="nav-link active py-2" data-toggle="tab" href="#home1"><span class="ion-ios-home mr-2"></span> Our Mission</a>
                </li>
                <li class="nav-item px-lg-2">
                  <a class="nav-link py-2" data-toggle="tab" href="#home2"><span class="ion-ios-person mr-2"></span> Our Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-2" data-toggle="tab" href="#home3"><span class="ion-ios-mail mr-2"></span> Our Value</a>
                </li>
              </ul>
              <div class="tab-content bg-light rounded mt-2">
                <div class="tab-pane container p-0 active" id="home1">
                  <p>We developed an online Product key Generation and Management system which is conventional in nature and can be used by anybody irrespective or limiting to one business enterprise and our Piracy Solution implementation is additionally intended to grant security, protection and validity of the product key generated with its use and a centralized reachability to admin on cloud </p>
                </div>
                <div class="tab-pane container p-0 fade" id="home2">
                  <p>Software piracy protection solution that we are developing is intended to be boundless and generic in nature having little to no limitations at all. It is intended to be having a product key generator, a mail delivery system, user authentication for sending the product key to the customer, a product key management system with admin panel and a software to check the product key validity.</p>
                </div>
                <div class="tab-pane container p-0 fade" id="home3">
                  <p>We believe that the success of a task largely relies on the capabilities and strengths of the participants concerned in it. Therefore, together with management skills, we grow a sturdy line of conversation with such folks which will reap advantages in the long run. If you have the expertise and experience to decide, then you need to go in advance and so.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% endwith %}