{% extends 'base.html' %}
{% load widget_tweaks %}
{% block active %}
<li class="nav-item"><a href="home" class="nav-link">Home</a></li>
<li class="nav-item"><a href="About" class="nav-link">About</a></li>
<li class="nav-item"><a href="Team" class="nav-link">Team</a></li>
<li class="nav-item"><a href="Buy" class="nav-link">Buy Now</a></li>
<li class="nav-item"><a href="Download" class="nav-link">Download</a></li>
<li class="nav-item active"><a href="Contact" class="nav-link">Contact</a></li>
{% endblock %}

{% block display %}
<section class="hero-wrap hero-wrap-2 bg-img-1">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <h1 class="mb-2 bread">{{ page_name }}</h1>
        </div>
    </div>
    </div>
</section>
{% endblock%}


{% block content%}
    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb bg-img-4" style="margin-top: 3%;margin-bottom:3%; background-position: 50% 143.312px;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-md-6 py-5 px-md-5">
            <div class="py-md-5">
              <div class="heading-section heading-section-white ftco-animate mb-5 fadeInUp ftco-animated">
                <h2 class="mb-4">Request A Quote</h2>
              </div>
              <form class="appointment-form" method="POST">{% csrf_token %}
                <div class="d-md-flex">
                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                  {{ contact_form.name|add_class:"form-control"|attr:"placeholder:Your Name" }}
                  {% for error in contact_form.name.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
                <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                  {{ contact_form.email|add_class:"form-control"|attr:"placeholder:Email Address" }}
                  {% for error in contact_form.email.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
                </div>
                <div class="d-md-flex">
                <div class="form-group {% if form.message.errors %} has-error {% endif %}">
                  {{ contact_form.message|add_class:"form-control"|attr:"placeholder:Hi, I am XXX, I want to contact You." }}
                  {% for error in contact_form.message.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
                </div>
                <div class="form-group ml-md-4">
                    <input type="submit" name="ContactingAdmin" value="Request A Quote" class="btn btn-secondary py-3 px-4">
                  </div>
              </form>
            </div>
            </div>
            <div class="col-md-6 py-5 px-md-5 py-md-5">
            <div class="heading-section heading-section-white ftco-animate mb-5 fadeInUp ftco-animated">
              <h4 class="mb-4" style="color:white">
                  Our Executives will contact you as soon as possible
                </h4>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}