{% extends 'base.html' %}
{% block active %}
<li class="nav-item active"><a href="home" class="nav-link">Home</a></li>
<li class="nav-item"><a href="About" class="nav-link">About</a></li>
<li class="nav-item"><a href="Team" class="nav-link">Team</a></li>
<li class="nav-item"><a href="Buy" class="nav-link">Buy Now</a></li>
<li class="nav-item"><a href="Download" class="nav-link">Download</a></li>
<li class="nav-item"><a href="Contact" class="nav-link">Contact</a></li>
{% endblock %}
{% block content%}
<section class="home-slider owl-carousel">
      <div class="slider-item bg-img-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <h1 class="mb-4">We Provide Best Piracy Prevention</h1>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item bg-img-2">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <h1 class="mb-4">We Help to Grow Your Business</h1>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
      <div class="container">
        <div class="row d-flex no-gutters align-items-stretch consult-wrap">
          <div class="col-md-5 wrap-about align-items-stretch d-flex">
            <div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100">
              <h2 class="heading-white mb-4">Free Consulting</h2>
              <form action="#" class="appointment-form ftco-animate">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <div class="form-field">
                    <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                        <option value="">Select Guidance</option>
                        <option value="">Finance</option>
                        <option value="">Business</option>
                        <option value="">Auto Loan</option>
                        <option value="">Real Estate</option>
                        <option value="">Other Services</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone">
                </div>
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Request A Quote" class="btn btn-secondary py-3 px-4">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-7 wrap-about ftco-animate align-items-stretch d-flex">
            <div class="bg-white p-5">
              <h2 class="mb-4">Negotiate <br>A Consulting Agency</h2>
              <div class="row">
                <div class="col-lg-6">
                  <div class="services">
                    <div class="icon mt-2 d-flex align-items-center"><span class="flaticon-collaboration"></span></div>
                    <div class="text media-body">
                      <h3>Business Solution</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    </div>
                  </div>
                  <div class="services">
                    <div class="icon mt-2"><span class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                      <h3>Financial Analysis</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="services">
                    <div class="icon mt-2"><span class="flaticon-search-engine"></span></div>
                    <div class="text media-body">
                      <h3>Marketing Strategy</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    </div>
                  </div>
                  <div class="services">
                    <div class="icon mt-2"><span class="flaticon-handshake"></span></div>
                    <div class="text media-body">
                      <h3>Investment Planning</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="ftco-intro ftco-no-pb img bg-img-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-3 mb-md-0">You Always Get the Best Guidance</h2>
          </div>
          <div class="col-lg-3 col-md-4 ftco-animate">
            <p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-4">Request Quote</a></p>
          </div>
        </div>  
      </div>
    </section>


    <section class="ftco-section ftco-no-pt">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4" style="margin-top: 5%">Why Choose Us?</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
        <div class="row tabulation mt-4 ftco-animate fadeInUp ftco-animated">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
              <li class="nav-item text-left">
                <a class="nav-link py-4" data-toggle="tab" href="#services-1"><span class="flaticon-analysis mr-2"></span> Business Analysis</a>
              </li>
              <li class="nav-item text-left">
                <a class="nav-link py-4" data-toggle="tab" href="#services-2"><span class="flaticon-business mr-2"></span> Business Consulting</a>
              </li>
              <li class="nav-item text-left">
                <a class="nav-link py-4" data-toggle="tab" href="#services-3"><span class="flaticon-insurance mr-2"></span> Business Insurance</a>
              </li>
              <li class="nav-item text-left">
                <a class="nav-link py-4" data-toggle="tab" href="#services-4"><span class="flaticon-money mr-2"></span> Global Investigation</a>
              </li>
              <li class="nav-item text-left">
                <a class="nav-link py-4" data-toggle="tab" href="#services-5"><span class="flaticon-rating mr-2"></span> Audit &amp; Evaluation</a>
              </li>
              <li class="nav-item text-left">
                <a class="nav-link py-4 active" data-toggle="tab" href="#services-6"><span class="flaticon-search-engine mr-2"></span> Marketing Strategy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane container p-0" id="services-1">
                <div class="img project-img-2"></div>
                <h3><a href="#">Business Analysis</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
              <div class="tab-pane container p-0 fade" id="services-2">
                <div class="img project-img-3"></div>
                <h3><a href="#">Business Consulting</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
              <div class="tab-pane container p-0 fade" id="services-3">
                <div class="img project-img-4"></div>
                <h3><a href="#">Business Insurance</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
              <div class="tab-pane container p-0 fade" id="services-4">
                <div class="img project-img-5"></div>
                <h3><a href="#">Global Investigation</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
              <div class="tab-pane container p-0 fade" id="services-5">
                <div class="img project-img-6"></div>
                <h3><a href="#">Audit &amp; Evaluation</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
              <div class="tab-pane container p-0 fade active show" id="services-6">
                <div class="img project-img-1"></div>
                <h3><a href="#">Marketing Strategy</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
    
{% endblock %}