{% extends 'base.html' %}

{% block content %}
<div class="signup">
    <form>
        <h2 style="color:#fff;">Log In</h2>
        <input type="text" name="username" placeholder="Username"/><br /><br />
        <input type="password" name="password" placeholder="Password" /><br /><br />
        <a href="cong.html"><input type="button" value="Log In" /></a><br /><br />
        <div id="container">
            <a href="for.html" style=" margin-left:30px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Forget password?</a>
        </div>
        Don't have account?<a href="Signup">&nbsp;Sign Up</a>
    
    </form>
</div>
{% endblock %}
