<div id="logoutScreen"  class="modal">
    <div class="row d-flex no-gutters align-items-stretch consult-wrap"  style="margin-top: 5%;margin-left:10%;width:80%">
      <div class="col-md-5 wrap-about align-items-stretch d-flex"  style="margin-left: 30%;box-shadow: 3px 3px 3px 3px">
        <div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100 fadeInUp ftco-animated">
            <h2 class="heading-white mb-4" style="color:white">Do you Want to Logout?</h2>
            <a href="#" class="cancel">×</a>
            <form action="logout" class="appointment-form">{% csrf_token %}
            <div class="form-group">
                <a href='/logout' class="btn btn-secondary py-3 px-4">Logout</a>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>