{% extends 'base.html' %}

{% block content %}
<div class="signup">
    <form method="POST">{% csrf_token %}
    <h2 style="color: #fff;">Sign Up</h2>
    <input type="text" name="username" placeholder="First name"><br><br>
    <input type="text" name="username" placeholder="Last name"><br><br>
    <input type="text" placeholder="Email address"><br><br>  
    <input type="password" name="pass" placeholder="Password"><br><br>    
    <input type="password" name="pass" placeholder="Confirm Password"><br><br>   
    <input type="submit" value="Sign up" ><br><br>
        Already have account?<a href="Login">&nbsp;Log In</a>
    </form>
    
    </div>
{% endblock %}